always-auth=true
registry=https://jdasoftware.jfrog.io/jdasoftware/api/npm/npm/
//jdasoftware.jfrog.io/jdasoftware/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJEM0hXR1JXZk5HaDd5ZlZ1U2JjVVkyMEhSd3p6ZUJraGxZRzh6NnZSNEQ0In0.eyJzdWIiOiJqZi1hcnRpZmFjdG9yeUA3NDFjZmYyMy05Y2Y1LTRkZTItODBkZC0wNTNjODkyYmNmM2NcL3VzZXJzXC9kY3QtZGV2ZWxvcGVyIiwic2NwIjoibWVtYmVyLW9mLWdyb3VwczoqIGFwaToqIiwiYXVkIjoiamYtYXJ0aWZhY3RvcnlANzQxY2ZmMjMtOWNmNS00ZGUyLTgwZGQtMDUzYzg5MmJjZjNjIiwiaXNzIjoiamYtYXJ0aWZhY3RvcnlANzQxY2ZmMjMtOWNmNS00ZGUyLTgwZGQtMDUzYzg5MmJjZjNjIiwiaWF0IjoxNTQ4ODczOTk2LCJqdGkiOiI4YWU0Yzc2ZC1lYjllLTQ1NGEtYjA2NS1kMWJlYzU1YTU3OTEifQ.JsNRhzpSOwjaW_gaPOdOEuMA7-luQ_1t1qVnHkDMwBi8x3eb4uy0NXH_6dSubRdE_8ahuJIO7k-Z-Xkt2CJ9jBOg06-EQJiHz9DJOI34c-pe_8mtmnXcZxnPhqCxZ47ekYguvY47CBltiMgz8ueJzOVDuXAcF6GM58THcigBBodGy9Y3HLKNk9kHVp7wm1rxVXnmMURRg77jEuVNtQR40m93UK4iVHTh0AocDtUD5_pqhiN_sXLjmNDOHxJ4CJPaPWylvz0TF_RVkjKIGyT0WyZ32z5Xw9OBUAZbQjiQOV0v1DRmypogIu82qEdwbeV40B0YNTk5Ci33TocCF_YFdQ
